:root {
  --max-screen: 1200px;
  --primary-color: #dc2f2f;
  --primary-color-dull: #b22424;
  --primary-color-dark: #333;
  --primary-color-dark-light: #555;
  --secondary-color: #4b8aff;
  --secondary-color-dull: #4479db;
}

* {
  margin: 0;
  padding: 0;
  font-family: Liberation sans, Inter, Helvetica, Ariel, sans-serif;
}

.page {
  max-width: var(--max-screen);
  margin: 0 auto;
  padding: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: 100px;
}

nav > div > span {
  font-weight: 700;
  font-size: 2rem;
  color: var(--secondary-color);
}

.navlinks > ul {
  display: flex;
  list-style: none;
}

.navlinks > ul > li {
  padding: 0.5rem 1rem;
}

.navlinks > ul > li:hover {
  background-color: #eee;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

.navlinks > ul > li > a:hover {
  text-decoration: underline;
}

.navlinks > ul > li > a:visited {
  color: #000;
}

.navlinks > ul > li > a {
  text-decoration: none;
  color: #000;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px #00000033;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
  text-decoration: underline;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.btnMain {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.btnMain:hover {
  background-color: var(--secondary-color-dull);
}

.btnSide {
  background-color: #fff;
  border: 1px solid var(--secondary-color);
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
}

.btnSide:hover {
  background-color: #e8e8e8;
}

svg {
  display: none;
}

.headButtons {
  margin-top: 2rem;
}

hr {
  border: 1px solid #aaa;
}

header {
  margin: 3rem 0rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

h1 {
  font-size: 4rem;
  color: var(--primary-color-dark);
  padding-top: 1rem;
  letter-spacing: -0.5px;
}

p {
  line-height: 1.6;
  letter-spacing: -0.16px;
  margin-bottom: 1rem;
}

.btnPrimary {
  background-color: var(--primary-color);
  color: #fff;
  padding: 16px 28px;
  border: none;
  border-radius: 5px;
  font-weight: 500;
}

.btnPrimary:hover {
  background-color: var(--primary-color-dull);
}

.btnSecondary {
  background-color: #fff;
  border: 1px solid var(--primary-color);
  padding: 16px 28px;
  border-radius: 5px;
  font-weight: 500;
}

.btnSecondary:hover {
  background-color: #e8e8e8;
}

.mainImg {
  max-width: calc(var(--max-screen) / 2);
  border-radius: 60px 10px 60px 10px;
}

.titleSlim {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
  color: var(--primary-color-dark-light);
}

.about {
  margin: 5rem 0;
}

.abouttu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.tuimg {
  max-width: 100%;
  border-radius: 50px 50px 0px 0px;
}

.abouttu > p {
  font-size: 1.1rem;
  margin-bottom: 1rem;
}

.btnTU {
  background-color: var(--secondary-color);
  color: #fff;
  padding: 16px 28px;
  border-radius: 5px;
  font-weight: 500;
  display: block;
  width: 140px;
}

.btnTU:hover {
  background-color: var(--secondary-color-dull);
}

.whyWhat {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.whyOL > li {
  list-style: none;
  display: grid;
  grid-template-columns: 5% 95%;
  margin-bottom: 1rem;
}

.round {
  padding: 2px 6px;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: #fff;
}

ol > li > div > p {
  margin-bottom: 0;
}

ol > li > div > .liTitle {
  font-weight: 700;
}

.programs {
  border-left: solid 1px #ddd;
  padding-left: 3rem;
}

.programOL > li {
  margin: 1rem 0;
  list-style: inside lower-roman;
}

.notice {
  margin-top: 4rem;
}

table {
  border-collapse: collapse;
  border: 1px solid #bbb;
  min-width: 100%;
}

thead {
  background-color: #eee;
}

th,
td {
  border: 1px solid #bbb;
  padding: 12px 10px;
}

td > a {
  text-decoration: none;
  color: var(--secondary-color);
}

footer {
  background-color: #111;
  color: #fff;
}

.footer-main {
  max-width: var(--max-screen);
  margin: 4rem auto 0 auto;
  padding: 4rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
}

h4 {
  margin-bottom: 1rem;
}

.footer-main > div > ul > li {
  list-style: none;
  margin-bottom: 0.5rem;
}

.footer-main > div > ul > li > a {
  text-decoration: none;
  color: #ccc;
}

.footer-main > div > ul > li > a:hover {
  text-decoration: underline;
}

.footer-main > div > p > a {
  color: #ccc;
  text-decoration: none;
}

.footer-main > div > p > a:hover {
  text-decoration: underline;
}

.footer-extended {
  background-color: #000;
  color: #fff;
}

.footer-extended > p {
  margin: 0;
  text-align: center;
  padding: 1rem 0;
}

@media screen and (max-width: 1000px) {
  nav > div > span {
    display: none;
  }
  header {
    grid-template-columns: 1fr;
  }
  .mainImg {
    max-width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .navlinks,
  .btnMain,
  .btnSide {
    display: none;
  }

  svg {
    display: inline;
    margin-left: 2rem;
  }

  .abouttu {
    grid-template-columns: 1fr;
  }

  .whyWhat {
    grid-template-columns: 1fr;
  }

  .programs {
    border-left: none;
    padding-left: 0;
  }

  .footer-main {
    grid-template-columns: 1fr 1fr;
  }
}
