.idea/
.vscode/
# dont include notes and books
*.pdf
*.docx
*.xlsx
*.pptx
algorithms/
dbms/
mathematics/
operating_systems/
digital_logic_and_computer_architecture/
vault/

# has books and other materials
android_dev/learn
compilers/
game_dev/WIP
graphics/notes
networking/notes
networking/system design
programming/c/learning
programming/lambda_calculus
programming/lisp
programming/misc/go/learn
programming/programming.md
programming/python/learning
university/
links.md
