.idea/
.vscode/
# dont include notes and books
*.pdf
*.docx
*.xlsx
*.pptx
.project
.classpath
.settings/
.setting
algorithms/
compilers/
dbms/
mathematics/
operating_systems/
digital_logic_and_computer_architecture/
vault/
bin/

# has books and other materials
programming/c/learning
programming/misc/lambda_calculus
programming/misc/lisp
programming/misc/go/learn
programming/programming.md
programming/misc/python/learning

programming/java/books
university/
links.md
cse.md
