:root {
  --max-screen: 1200px;
  --primary-color: #dc2f2f;
  --primary-color-dull: #b22424;
  --primary-color-dark: #333;
  --primary-color-dark-light: #555;
  --secondary-color: #4b8aff;
  --secondary-color-dull: #4479db;
}

body {
  margin: 0 auto;
  max-width: 700px;
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.formTitle {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0;
}

.simple {
  padding: 15px;
  border-radius: 5px;
  border: none !important;
  margin-right: 15px;
  background-color: #dbe5eb;
  color: #000000;
}

.submit {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
}

.submit:hover {
  background-color: var(--secondary-color-dull);
}

button {
  padding: 15px 20px;
  border-radius: 5px;
  border: none;
  background-color: var(--secondary-color);
  color: #fff;
  font-weight: 600;
}

button:hover {
  background-color: var(--secondary-color-dull);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.txtcenter {
  padding-top: 3rem;
  text-align: center;
}

.container > main {
  border-radius: 12px;
  padding: 4rem;
  background-color: #ffd6d6;
}

.container > main > .simple {
  background-color: #fff;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: center;
}

.containers > main {
  border-radius: 12px;
  padding: 4rem;
  background-color: #d6dbff;
}

.containers > main > .simple {
  background-color: #fff;
}
