/Makefile
/Makefile.in
*.go
*.log
*.trs
/reflect-wasm/*.wasm
/examples/basic-types.wasm
/test-wasm-assembler.log
/aclocal.m4
/autom4te.cache/
/build-aux/
/config.log
/config.status
/configure
/pre-inst-env
/js-test
/lib/Makefile
/lib/Makefile.in
/lib/hoot/char-prelude.scm
/module/Makefile
/module/Makefile.in
/module/hoot/config.scm
/doc/hoot.info
/doc/hoot.html/
/doc/.dirstamp
/examples/project-template/hello.wasm
/examples/repl/repl.wasm
