<?xml version="1.0" encoding="UTF-8"?>
<service name="recomprizz">
   <summary>OBS Service to recomprizz (recompress) archived tarballs</summary>
   <description><![CDATA[Recompress to other compression formats using raw and roast internally.]]></description>
   <parameter name="strategy">
      <description>Legacy argument, no longer used. Values: recomprizz. Default: recomprizz</description>
   </parameter>
   <parameter name="target">
      <description>Target tarball file to extract and recompress. Supports globbing.</description>
   </parameter>
   <parameter name="include">
      <description>Additional paths such as files or directories in the target directory to include to the archive. Their parent directory will be put next to the target directory's work directory. The work directory is based on the preserve root option. This is different from `--additional_paths`. Useful to override excluded directories.</description>
   </parameter>
   <parameter name="exclude">
      <description>Additional paths such as files or directories from within target directory's work directory to exclude when generating the archive. ⚠️ Careful if the archive has whether preserved root set when it was created.</description>
   </parameter>
   <parameter name="additional-paths">
      <description>Additional paths such as files or directories to add to the archive. Their parent directory will be put next to the target directory. This is different from `--include`. Optionally, one can add a path to a directory inside the archive e.g. `-A some/file/to/archive,put/where/in/archive`. If directory does not exist, it will be created.</description>
   </parameter>
   <parameter name="outdir">
      <description>Output directory of recompressed archive.</description>
   </parameter>
   <parameter name="compression">
      <description>Compression to use. Default: zst</description>
      <allowedvalues>zst</allowedvalues>
      <allowedvalues>gz</allowedvalues>
      <allowedvalues>xz</allowedvalues>
      <allowedvalues>bz2</allowedvalues>
      <allowedvalues>not</allowedvalues>
   </parameter>
   <parameter name="rename">
      <description>Pass a string or regex value into this flag. This will be used with the `--renamepattern` flag. If no value is provided to `--renamepattern`, this is assumed to be a hard-coded name.</description>
   </parameter>
   <parameter name="renamepattern">
      <description>Pass a replacement pattern using the capture groups into this flag. This will be used with the `--rename` flag.</description>
   </parameter>
   <parameter name="reproducible">
      <description>Allow reproducibility for Reproducible Builds. Default: false</description>
      <allowedvalues>true</allowedvalues>
      <allowedvalues>false</allowedvalues>
   </parameter>
   <parameter name="ignore-git">
      <description>Whether to ignore git related metadata, files and directories. Default: true</description>
      <allowedvalues>true</allowedvalues>
      <allowedvalues>false</allowedvalues>
   </parameter>
   <parameter name="ignore-hidden">
      <description>Whether to ignore hidden directories and files or what we call dotfiles. Does not affect `--ignore-git`. Default: false</description>
      <allowedvalues>true</allowedvalues>
      <allowedvalues>false</allowedvalues>
   </parameter>
</service>

