<style>
    /* light mode colors */
    body {
        --primary-color: #cc0000;
        --primary-pale-color: #cc000055;
        --primary-decoration-color: #5871a210;
        --bg-color: #ffffff;
        --text-color: #2f3030;
        --text-pale-color: #767676;
        --text-decoration-color: #a9a9a9;
        --highlight-mark-color: #5f75b020;

        --callout-note-color: #5871a2;
        --callout-tip-color: #268556;
        --callout-important-color: #885fc9;
        --callout-warning-color: #ab6632;
        --callout-caution-color: #c64e4e;
    }

    /* typography */
    body {
        --main-font: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
        --code-font: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
        --homepage-max-width: 768px;
        --main-max-width: 768px;
        --avatar-size: 60px;
        --font-size: 16px;
        --line-height: 1.75;
        --img-border-radius: 0px;
        --detail-border-radius: 0px;
        --dark-mode-img-brightness: 0.75;
        --dark-mode-chart-brightness: 0.75;
        --inline-code-border-radius: 2px;
        --inline-code-bg-color: var(--primary-decoration-color);
        --block-code-border-radius: 0px;
        --block-code-border-color: var(--primary-color);
        --detail-border-color: var(--primary-color);
    }
</style>
