.idea/
.gradle/
local.properties
*.iml
*.swp
*.swo
*.gradle
out/
*~
captures/
lint/intermediates/
*.apk
*.ap_
*.aab
gradle-wrapper.properties
gradle-build/
.android/
crashlytics-build.properties
*.log
build/